*inp
*mtx
*odb
*.mat
*~
*.dat
*.asv
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.mat
*-eps-converted-to.pdf
*.pdf
*-blx.bib
*.run.xml
*.nlo
FJSIMS/ROMS/*.mat
FJSIMS/Results/*
SURFACE/SCANS
SURFACE/OUT
TESTS/Figures
EXPERIMENTAL_DATA/RAW
EPMC_SIMS/DATA/*
EPMC_SIMS/Results/*
EXPERIMENTAL_DATA/LongTermWear/*
PLOTS/OUTPUTS/*
